<%- layout('layouts/boilerplate')%>

<ul>
    <h1>All Campgrounds</h1>
  <% for(let camp of campgrounds) {%>
  <div class="card">
    <div class="row">
      <div class="col-md-4">
        <% if(camp.images.length) {%>
        <img class="img-fluid" src="<%= camp.images[0].url %>">
        <% } %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= camp.title %></h5>
          <p class="card-text">
            <%= camp.description %>
          </p>
          <small class="text-muted">
            <%= camp.location %>
          </small>
          <br/>
          <a class="btn btn-primary" href="/campgrounds/<%= camp._id %>">View</a>
        </div>
      </div>
    </div>


  </div>
  <% } %>
</ul>
